{
  "parser": "@typescript-eslint/parser",
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "es6": true,
    "node": true // defines things like process.env when generating through node
  },
  "ignorePatterns": ["public/**"],
  "extends": [
    "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
    "plugin:@typescript-eslint/recommended" // Uses the recommended rules from @typescript-eslint/eslint-plugin
  ],
  "plugins": ["import", "prettier", "unused-imports"],
  "rules": {
    "react/prop-types": 0,
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "prettier/prettier": "error",
		"unused-imports/no-unused-imports": "error"
  }
}
